:root( --darkmode: #0f0f0f;)

.darkmode {background-color:var(--darkmode);}

body.dark {
    background-color: #151414;
}

body.light {
    background-color: #e8e4e4;
}

.lightmode {
    background-color: #e8e4e4;
}