:root{ 
    --darkMode: #0f0f0f;
    --lightMode: #e8e4e4;
    }

.darkMode {
    background-color:var(--darkMode);
}

body.darkMode {
    background-color: #151414;
}

body.lightMode {
    background-color: #e8e4e4;
}